# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# TMDB_API_KEY: TMDB API key provided by user
TMDB_API_KEY="9b121a7c344eeb23baad7647d6b2eabe"

